@import url('alap.css');
body{
    font-size: 1.8em;
}

a#nagybetu {display: none;}
a#normalbetu {display: block;}

header, main, footer {
	width:90%;
	max-width:1200px;
}

nav#gyengenlato { width:400px;}

nav#gyengenlato span {
    background-image:url("../media/ikonkeszlet.png");
	background-position:-330px 0px;	
}

article#bevezeto{
	padding-bottom: 0;
}
